body{
    background-color: #bcbec0;
}
textarea:focus, input:focus{
    outline: none;
}
input{
    border:none;
    border-right: 1px solid grey;
    background-color: #e6e7e8;
}
#prime{
    background-color: #f1f2f2;
}
select{
    background-color: #e6e7e8;
    border:none;
    border-right: 1px solid grey;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand {
    display: none;
}
.container{
    max-width: 100%;
}
.mybtn{
    background-color: #e6e7e8;
    border: none;
    border-radius: none;
    height: 30px;
}

#mycard{
    border-style:solid;
    border-width: 1px;
    border-top: none !important;
    border-bottom: 1px solid red;
    background-color: #DBDBDB;
}
#mycard2{
    border-left-width: 10px;
    border-left-color: grey;
    border-right-width: 5px;
    border-right-color: grey;
    background-color: #DBDBDB;
}
.green {
    background-color:rgba(0,181,68,0.8);
}
.orange{
    background-color: orange;
}
.orangebord{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: orange;
}
.greenbord{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgba(0,181,68,0.8);
}
.redbord{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgba(227,0,0,0.8);
}
.purpbord{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgba(140,0,255,0.8);
}
.yellowbord{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgba(255,255,0,0.8);
}

.megbord{
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: rgba(255,0,247,0.8);
}
#duepay{
    width:80px;
    display: none;
}
.custom-select{
    background-image: none !important;

}
#imgbtn{
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .1s;
}

#imgbtn:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#imgbtninv:hover {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .1s;
}
.mynestBtn{
    border: none;
    border-radius: none;
    color: white;
    background-color: #FF9100;
}
.mynestBtn:hover {
    color: white;
    background-color: orange;
}
.myjobBtn{
    border: none;
    border-radius: none;
    height: 40px;
    width:100%;
    background-color: #00BCFF;
    color: white;
}
.myjobBtn:hover {
    background-color: #29CEFF;
    color: white;
}